 {{#section 'head'}}
 {{/section}}
 
 <div class="text-center">WE ARE SORRY! Your session might have expired or an internal server error might have occurred
 <br><br><a href="/" class="btn btn-default"><i class="fa fa-link"></i> HOMEPAGE</a>
 </div>