<h3 class="heading">Cart</h3>
<div id="cart" class="carts">
	
</div>

<div class="total">
	<div class="total_l">
		TOTAL
	</div>
	<div class="total_r">
		&#8358;<span id="bal">0</span>.00
	</div>
</div>

<div class="promo">
	<div class="promo_l">
		Promo code
	</div>
	<div class="promo_r">
		<input id="pCode" placeholder="Type here">
	</div>
</div>
<button onclick="checkout()" class="menu_butt">Checkout</button>